# The following owners will be the default reviewers for
# everything in the repo. Both @Garett601 and the teachers
# team will be requested for review when someone opens a
# pull request.
*       @Garett601
*       @end-to-end-mlops-databricks/teachers
